@import '../../theme/variables.scss';

:host {
  display: block;
}

.header {
  text-align: center;
  padding: 0 40px;
}

.container {
  padding: 40px 0 20px;
}

.content {
  display: flex;
  flex-flow: column wrap;
}

.form-controls {
  display: flex;
  flex-flow: column wrap;
}

.form {
  padding: 0 80px;
  max-height: 400px;
  overflow: auto;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 20px 40px 0;

  .ui-button{
    margin: 10px 10px 0;
  }
}

.test {
  height: 100px;
  width: 100px;
}
