<div class="container">
  <div class="header">
    <h2 *ngIf="!isEdit">Create record</h2>
    <h2 *ngIf="isEdit">Edit record {{ recordId }}</h2>
  </div>
  <div class="form-container">
    <form
      class="form"
      *ngIf="form"
      [formGroup]="form"
      (submit)="onFormSubmit()"
    >
      <div class="form-controls">
        <ng-container *ngFor="let controlName of getFormControls(false)">
          <ui-form-field
            *ngIf="controlName !== 'id'"
            labelText="{{ controlName }}"
            errorText="Invalid input"
            [displayError]="
              !form.get(controlName).pristine && !form.get(controlName).valid
            "
          >
            <input uiInput formControlName="{{ controlName }}" />
          </ui-form-field>
        </ng-container>
      </div>
    </form>

    <div class="buttons">
      <button uiButton type="button" (click)="onCancelClick()">Cancel</button>
      <button uiButton type="submit" (click)="onFormSubmit()">Confirm</button>
    </div>
  </div>
</div>
