<div class="container">
  <div class="header">
    <h3>{{ headerText }}</h3>
  </div>
  <div class="content">
    <p>{{ contentText }}</p>
  </div>
  <div class="buttons">
    <button uiButton (click)="onCancelClick()">{{ cancelBtnLabel }}</button>
  </div>
</div>
