<div [ngClass]="{ 'is-open': isOpen }" class="modal-container">
  <div
    class="overlay"
    (click)="onOverlayClick()"
    [@openAnimationOverlay]="isOpenAnimationState"
  ></div>
  <div class="wrapper">
    <button
      *ngIf="isCloseBtnVisible"
      [ngClass]="{ 'is-dark': isCloseBtnDark }"
      class="close-btn"
      (click)="onCloseBtnClick()"
    >
      <ui-icon name="close"></ui-icon>
    </button>
    <div class="modal" [@openAnimationModal]="isOpenAnimationState">
      <ng-template uiModalHost></ng-template>
    </div>
  </div>
</div>
