@import '../../theme/variables.scss';

table {
  background-color: $color-primary;
  padding: 20px;
  font-size: 1rem;
}

th, td {
  text-align: center;
  padding: 5px 10px;
}

tr {
  padding: 5px;
  border-top: 1px solid $color-secondary-dark;
}

.controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  .ui-button {
    margin: 5px 10px;
  }
}

.table-footer {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px 40px;

  .left, .right {
    padding: 10px 0;
    flex-grow: 1;
    flex-basis: 0;
  }

  .right {
    display: flex;
    justify-content: flex-end;
  }
}
