<table *ngIf="tableHeaders && tableContent" class="table" width="100%">
  <thead>
    <th *ngFor="let header of tableHeaders">{{ header.displayText }}</th>
    <th *ngIf="controls && controls.length"></th>
  </thead>
  <tr *ngFor="let record of tableContent.records">
    <td *ngFor="let field of record.value">{{ field.textContent }}</td>
    <td class="controls" *ngIf="controls && controls.length">
      <ng-container *ngFor="let control of controls"
        ><button
          uiButton
          class="is-small"
          (click)="onRowControlClick(record.id, control)"
        >
          {{ control }}
        </button></ng-container
      >
    </td>
  </tr>
</table>
<div class="table-footer">
  <div class="left"></div>
  <div class="right">
    <button uiButton (click)="onControlClick(ETableControl.CREATE)">
      Create
    </button>
  </div>
</div>
