@import '../theme/variables.scss';

.container{
  padding: 50px;
  background-color: $color-grey-1;
}

.test-controls {
  .ui-button {
    margin: 10px 10px;
  }
}

.table-container {
  overflow: hidden;
  border-radius: 20px;
  margin: 100px 10%;
  @include shadow-light;

  @media (max-width: $screen-max-md) {
    margin: 100px 0;
  }
}
