<div class="container">
  <div class="test-controls">
    <button uiButton (click)="onGenerateRecordsClick()">
      Add 10 generated records
    </button>
    <button uiButton (click)="onDeleteAllClick()">Delete all records</button>
  </div>
  <div class="table-container">
    <ui-table
      [tableHeaders]="tableHeaderData"
      [tableContent]="tableContentData"
      [controls]="tableControls"
      (rowControlClicked)="handleTableRowControlClick($event)"
      (controlClicked)="handleTableControlClicked($event)"
    ></ui-table>
  </div>
</div>
