@import '../../theme/variables.scss';

.ui-form-field {
  display: block;
  .form-field-container {
    display: flex;
    flex-flow: column nowrap;
  }

  .form-field-label {
    font-size: 0.9rem;
    padding: 5px 0 10px;
    font-weight: bold;
  }

  .form-field-input-container {
    position: relative;
  }

  .form-field-error-icon {
    display: none;
    position: absolute;
    font-size: 1.2rem;
    top: 0;
    right: 10px;
    bottom: 0;

    .ui-icon {
      fill: $color-red-error;
    }
  }

  .ui-input {
    height: 50px;
  }

  .error-text {
    display: block;
    margin: 5px 0;
    font-size: 0.8rem;
    height: 20px;
  }

  &.ng-dirty.ng-invalid {
    .ui-input {
      border: 1px solid $color-red-error;
    }

    .form-field-error-icon {
      display: flex;
      align-items: center;
    }

    .error-text {
      color: $color-red-error;
    }
  }
}
