.container {
  padding: 20px 40px;
}

.header {
  text-align: center;
}

.content {
  text-align: center;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  .ui-button {
    margin: 10px 10px 0;
  }
}
